.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titulo {
  font-size: 2rem;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(162, 161, 240, 1));
}

.section {
  margin: 1rem 15rem;
  display: flex;
  flex-direction: column;
}

.section-group {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.p-inputtext:enabled:focus {
  border-color: rgba(92, 107, 192, 0.9);
  box-shadow: 0 0 0 0.15rem rgba(162, 161, 240, 0.45);
}

.p-inputtext:enabled:focus-visible {
  border-color: rgba(92, 107, 192, 0.95);
  box-shadow: 0 0 0 0.2rem rgba(162, 161, 240, 0.55);
}

.separador {
  margin: 1rem 0 1rem 0;
}
